.container {
    margin-top: 7%;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
      
}

.col-sm-5 {
    position: absolute;
    left: 650px;
}

.mb-3 {
    font-family: "Poppins", sans-serif;
    color: rgb(180, 97, 235);
}

 .form-check-1 {
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: 4%;
}

.form-check-2 {
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: 4%;
}

.form-check-3 {
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: 4%;
}

.form-check-4 {
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 4%;
}

.form-check-5 {
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 4%;
} 

.w-100 {
    margin-top: 0%;
    margin-left: 50%;
    margin-right: 0%;
    margin-bottom: 4%;
    background-color: rgb(180, 97, 235);
    
}



